
* {
    margin: 0;
    padding: 0;
}
html {
    background-color: #bda9a2;
}
header {
    background-color: rgba(33, 33, 33, 0.9);
    color: #fff;
    display: block;
    font: 14px/1.3 Arial,sans-serif;
    height: 50px;
    position: relative;
}
header h2 {
    font-size: 22px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    width: 80%;
}
header a, a:visited {
    color: #fcfcfc;
    text-decoration: none;
}
.demo {
    margin: 20px auto;
    overflow: hidden;
    width: 960px;
}
.bheader {
    background-color: #dddddd;
    border-radius: 10px 10px 0 0;
    padding: 10px 0;
    text-align: center;
}
.bbody {
    background: linear-gradient(#ffffff, #f2f2f2) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #000;
    overflow: hidden;
    padding-bottom: 20px;
    text-align: center;
}
.bbody h2, .info, .error {
    margin: 10px 0;
}
.step2, .error {
    display: none;
}
.error {
    color: red;
    font-size: 18px;
    font-weight: bold;
}
.info {
    font-size: 14px;
}
label {
    margin: 0 5px;
}
input {
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 4px 8px;
    text-align: center;
    width: 70px;
}
.jcrop-holder {
    display: inline-block;
}
input[type="submit"] {
    background: none repeat scroll 0 0 #e3e3e3;
    border: 1px solid #bbb;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px #f6f6f6 inset;
    color: #333;
    font: bold 12px/1 "helvetica neue",helvetica,arial,sans-serif;
    padding: 8px 0 9px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 150px;
}
input[type="submit"]:hover {
    background: none repeat scroll 0 0 #d9d9d9;
    box-shadow: 0 0 1px 1px #eaeaea inset;
    color: #222;
    cursor: pointer;
}
input[type="submit"]:active {
    background: none repeat scroll 0 0 #d0d0d0;
    box-shadow: 0 0 1px 1px #e3e3e3 inset;
    color: #000;
}


.clearfix {
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.hide-text {
    background-color: transparent;
    border: 0 none;
    color: transparent;
    font: 0px/0 a;
    text-shadow: none;
}
.input-block-level {
    box-sizing: border-box;
    display: block;
    min-height: 30px;
    width: 100%;
}
li small {
    color: #f07878;
}
.inline-labels label {
    display: inline;
}
div#interface.span3 fieldset {
    margin-bottom: 1.5em;
}
div#interface.span3 fieldset legend {
    line-height: 1.2;
    margin-bottom: 2px;
    padding-bottom: 2px;
}
.article h1 {
    color: #333;
    margin-top: 0.2em;
}
.jc-demo {
    text-align: center;
}
.jcropper-holder {
    border: 1px solid #bbb;
}
.jc-demo-box {
    background: none repeat scroll 0 0 white;
    border: 1px solid #bbb;
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    margin: 2em auto;
    padding: 1em 2em 2em;
    text-align: left;
}
form {
    margin: 1.5em 0;
}
form.coords label {
    color: #900;
    font-weight: bold;
    margin-right: 1em;
}
form.coords input {
    width: 3em;
}
.ui-widget-overlay {
    opacity: 0.8;
}
.jc-dialog {
    padding-top: 1em;
}
.ui-dialog p tt {
    color: yellow;
}
.jcrop-light .jcrop-selection {
    box-shadow: 0 0 15px #999;
}
.jcrop-dark .jcrop-selection {
    box-shadow: 0 0 15px #000;
}
.jcrop-fancy .jcrop-handle.ord-e {
}
.jcrop-fancy .jcrop-handle.ord-w {
}
.jcrop-fancy .jcrop-handle.ord-nw {
}
.jcrop-fancy .jcrop-handle.ord-ne {
}
.jcrop-fancy .jcrop-handle.ord-sw {
}
.jcrop-fancy .jcrop-handle.ord-se {
}
.jcrop-fancy .jcrop-handle.ord-s {
}
.jcrop-fancy .jcrop-handle.ord-n {
}
.description {
    margin: 16px 0;
}
.jcrop-droptarget canvas {
    background-color: #f0f0f0;
}
