<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance
	http://www.springmodules.org/schema/cache/springmodules-cache.xsd http://www.springmodules.org/schema/cache/springmodules-ehcache.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
       http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>iBlog</display-name>
<filter> 
  <filter-name>UrlRewriteFilter</filter-name> 
   <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class> 
 </filter> 
 <filter-mapping> 
   <filter-name>UrlRewriteFilter</filter-name> 
  		<url-pattern>/*</url-pattern>
   		<dispatcher>REQUEST</dispatcher>  
        <dispatcher>FORWARD</dispatcher>  
  </filter-mapping>
  
	<filter>
		<filter-name>Struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Struts2</filter-name>
		<url-pattern>/*</url-pattern>
	    <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>/WEB-INF/applicationContext.xml,/WEB-INF/daoContext.xml</param-value>
	</context-param>
	<listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	
	<error-page>
		<error-code>404</error-code>
		<location>/pages/jsp/common/404.jsp</location>
	</error-page>
	
	<session-config>  
    <session-timeout>15</session-timeout>  
	</session-config> 
	
	<jsp-config>
	<jsp-property-group>
	<url-pattern>*.jsp</url-pattern>
	<icon></icon>
	<el-ignored>false</el-ignored>
	<scripting-invalid>false</scripting-invalid>
	<default-content-type>text/html; charset=UTF-8</default-content-type>
	<page-encoding>utf-8</page-encoding>
	</jsp-property-group>
	
<!-- 	<jsp-property-group> -->
<!-- 	<url-pattern>/pages/jsp/user/*</url-pattern> -->
<!-- 	<url-pattern>/pages/jsp/usersingle/*</url-pattern> -->
<!-- 	<url-pattern>/pages/jsp/note/*</url-pattern> -->
<!-- 	<url-pattern>/pages/jsp/essay/*</url-pattern> -->
<!-- 	<url-pattern>/pages/jsp/common/*</url-pattern> -->
<!-- 	<include-prelude> -->
<!-- 	/pages/jsp/snippets/navigator.jspf -->
<!-- 	</include-prelude> -->
<!-- 	<include-coda> -->
<!-- 	/pages/jsp/snippets/hidden_box.jsp -->
<!-- 	</include-coda> -->
<!-- 	<include-coda> -->
<!-- 	/pages/jsp/snippets/footer.jsp -->
<!-- 	</include-coda> -->
<!-- 	</jsp-property-group> -->
	
	</jsp-config>
</web-app> 